<div class='view-body'>
  <div class='data-holder-sm'>
  <h1>Fave Artist Enter Page</h1>
    <form role='form' class='style-form' novalidate='novalidate' ng-submit='addArtistData()' name='artistForm'>
      <div class='form-group make-orange'>
        <label class="">Name</label> <br>
      </div>
      <div>
        <input id="name" class='form-control' type='text' ng-model='name' name="name"/>
      </div>
      <div class='form-group make-orange'>
        <label class="">Artist Type</label> <br>
      </div>
      <div>
        <input id="artist_type" class='form-control' type='text' ng-model='artist_type' name="artist_type"/>
      </div><br>

      <button type='submit'class='btn btn-success'>Submit</button>
    </form>
  </div>
</div>
