<div class='view-body'>
  <div class='data-holder' ng-show='showListData'>
  <h1 class='view-title'>Fave Artists</h1>
  
    <table class='table artist-table'>
      <thead class='table-header'>
            <td>Name</td>
            <td>Artist Type</td>
            <td>The Latest</td>
            <td>Get Latest</td>
            <td>Delete</td>
            <td>Edit</td>
      </thead>
      <tbody>
        <tr ng-repeat='artist in artistlisting track by $index'>
            <td>{{artist.name}}</td>
            <td>{{artist.artist_type}}</td>
            <td id="artistproject">{{artist.most_recent}}</td>
            <td><button type='button' id="search" ng-click="findArtist(artist)">Latest</button></td>
            <td><button type='button' class="btn btn-success" ng-click="deleteAnArtist(artist)"><span class="glyphicon glyphicon-trash"></span></button></td>
            <td><button type='button' class="btn btn-success" ng-click="showEditFieldsBtn(artist)"><span class="glyphicon glyphicon-pencil"></span></button></td>
        </tr>
      </tobdy>
    </table>
  </div>

  <div class='data-holder-m' ng-show='showEditFields'>
    <h1 class='view-title'>Edit Artist</h1>
      <form role='form' class='style-form' novalidate='novalidate' ng-submit='submitThis(artist)' name='editForm'>
        <div class='form-group make-orange'>
          <label class="">Title</label> <br>
        </div>
        <div>
          <input id="name" class='form-control' type='text' ng-model='artist.name' ng-change="artistlisting.$save(artist)" name="name" value='artist.name' />
        </div>
        <div class='form-group make-orange'>
          <label class="">Artist Type</label> <br>
        </div>
        <div>
          <input id="artist_type" class='form-control' type='text' ng-model='artist.artist_type' ng-change="artistlisting.$save(artist)" name="artist_type"/>
        </div>

        <button type='submit'class='btn btn-success'>Submit</button>
      </form>
  </div>

</div>

