<div id='background-theater'>
<img src='../images/old_theater.jpg'>
</div>
<div class='signing-in'>
  <h4>Already a member? Sign in here</h4>
  <h5>Need an account? <a href='#/register'>Register here.</a></h5>
  <div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    <div class="pannel pannel-default">
      <div class="pannel-body">
<!--         <h1 class="login-text">Login</h1>
 -->        <form role="form" novalidate="novalidate" name="userForm">
          <div class="form-group">
            <label for="email" class="login-text">Email Address</label>
            <input id="email" type="text" name="email" ng-model="user.email" autofocus="autofocus" required="required" ng-minlength="3" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="password" class="login-text">Password</label>
            <input id="password" type="password" name="password" ng-model="user.password" required="required" ng-minlength="3" class="form-control"/>
          </div>
          <button ng-show="userForm.$valid" ng-click="login()" class="btn btn-warning">Login</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-xs-4"></div>
</div>
</div>