<div id='menu-theater' class='menu-body'>
<!--<img src='../images/theater_cropped.jpg'>-->
<!--</div>-->

<h1>{{message}}</h1>

<!--<h4><a href='/#/movieenter'>Enter a new movie</a></h4>-->
<div class='row holder-div'>
  <div class='this-menu'>
    <div class='row entering-row'>
      <div class='col-xs-6 enter-data'><p ><a href='/#/movieenter'>Add Movie</a></p></div>
      <div class='col-xs-6 enter-data'><p ><a href='/#/artistenter'>Add Artist</a></p></div>
    </div>
    <div class='row first-row'>
      <div class="col-xs-4 box box7"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span><a href='/#/tosee'><br>To See </a></div>
      <div class="col-xs-4 box box2"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><a href='/#/haveseen'><br>Have Seen </div>
      <div class="col-xs-4 box box9"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><a href='/#/faveperformers'><br>Fave Performer </div>
    </div>
    <divclass='row'>
      <div class="col-xs-4 box box3"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><a href='/#/thetweets'><br>The Tweets </div>
      <div class="col-xs-4 box box6"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span><a href='/#/localshow'><br>Local Showings </div>
      <div class="col-xs-4 box box8"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span><a href='/#/friendnotif'><br>Friend Notification</div>
    </div>
  </div>
  <div class='signing-out'><p><a ng-click="logout()">All Done?</a></p></div>
</div>
